body{
    padding: 0;
    margin: 0;
    overflow-x: hidden;
    width: 100%;
}
/* This will style the header section */
.bg {
    background-image: linear-gradient(to bottom, rgb(0, 0, 0, 0.7), rgb(0, 0, 0, 0.7)), url(resources/bg3.jpeg);
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    font-family: 'Roboto', sans-serif;
}
.bgdif{
    background-image: linear-gradient(to bottom, rgb(0, 0, 0, 0.7), rgb(0, 0, 0, 0.7)), url(resources/Ecotourism-Safari-Masai-Mara.jpg);
}
.bg ul{
    margin-top: -4em;
}
.nav-link{
    font-size: 1.5em;
}
.bg h1{
    color: whitesmoke;
    display: flex;
    flex-direction: column;
    font-family: 'Roboto Slab', serif;
    font-size: 6vw;
}
.bg p{
    color: yellow;
    font-family: 'Dancing Script', cursive;
    font-size: 4vw;
}
/* Agents section styling */
.agent{
    height: 90vh;
    color: whitesmoke;
    background-color: rgb(167, 167, 167);
}
.agent h1{
    font-family: 'Roboto Slab', serif;
    font-size: 6vw;
}
.agent img{
    height: 30em;
    margin: auto;
}
.carousel-inner{
    height: 75vh;
}
.search{
    height: 30vh;
    margin-left: 30em;
}
/* Styling Contact us */
#overlay{
    padding-left: 500px;
    font-family: sans-serif;
}
#overlay form{
    max-width: 550px;
    width: 90%;
    background: white;
    margin: 17vh auto 0auto;
    padding: 40px;
    border-radius: 20px;
    box-sizing: border-box;
}
#overlay h1{
    margin: 0;
    text-align: center;
    color: black;
    font-size: 50px;
}
#overlay label{
    display: block;
    margin: 15px 0;
    padding-right: 400px;
}
input,textarea{
    width: 100%;
    padding: 5px;
    box-sizing: border-box;
    outline: none;
    resize: none;
    border: none;
    border-bottom: 1px solid #f0e5e5;
}
input[type="text"]:focus, textarea:focus {
    border-bottom: 1px solid rgb(255,0,106);
}
textarea::-wekit-scrolbar {
    width: 4px;
}
textarea::-webkit-scrollbar-thumb{
    background-color:rgb(255,0,106)
}
.center{
    text-align: center;
}
input[type="submit"] {
    width: 90%;
    max-width: 200px;
    background: linear-gradient(to right, rgb(15, 22, 122), );
    color: black;
    font-size: 17px;
    border-radius: 3px;
}
.error {
    color: red;
}
#success{
    color: #28A;
}
/*Styling Log In Form*/
.loginform {
    position: relative;
    margin-top: 30px;
    width: 450px;
    height: auto;
    background: #dedede;
    border-radius: 20px;
    font-family: sans-serif;
    margin-left: 500px;
}
.loginform h1{
    padding: 20px 130px;
    font-size: 35px;
    font-weight: bold;
    color: #130f40;
}
.login_form{
    padding: 20px 40px;
}
.login_form .font{
    font-size: 18px;
    color: #130f40;
    margin: 5px 0;
    margin-right: 220px;
}
.login_form input{
    height: 40px;
    width: 350px;
    padding: 0 5px;
    font-size: 18px;
    outline: none;
    border: 1px solid silver;
}
.login_form .font2{
    margin-top: 20px;
    margin-right: 270px;
}
.login_form button {
    margin: 45px 0 30px 0;
    height: 45px;
    width: 365px;
    font-size: 20px;
    color: white;
    outline: none;
    cursor: pointer;
    font-weight: bold;
    background: #1A237E;
    border-radius: 3px;
    border: 1px solid #3949AB;
    transition: .5s;
}
.login_form button:hover{
    background: #151c6a;
}
.login_form #email_error,
.login_form #pass_error{
    margin-top: 5px;
    width: 345px;
    font-size: 18px;
    color: #C62828;
    background: rgba(255,0,0,0.1);
    text-align: center;
    padding: 5px 8px;
    border-radius: 3px;
    border: 1px solid #EF9A9A;
    display: none;
=======
/* sign up styling */
.signup {
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    width: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 30px;
    height: 150px;
    
}

.signuph {
    background-color: rgba(121, 112, 112, 0.3);
    border-bottom: 1px solid #f0f0f0;
    padding: 10px 10px;
}

.signuph h1 {
    margin-bottom: 25px;
    font-size: 24px;
    font-weight: 700;
    text-align: center;

}

.signupf {
    padding: 30px 40px;
}

.signupfc {
    margin-bottom: 10px;
    padding-bottom: 20px;
    align-items: center;
    display: flex;
}

.signupfc label {
    display: inline-block;
    margin-bottom: 5px;
    color: white;
    width: 200px;
    margin-right: 10px;
    font-size: 14px;
}

.signupfc input {
    border: 2px solid #f0f0f0;
    border-radius: 4px;
    display: block;
    font-family: inherit;
    font-size: 15px;
    padding: 8px 10px;
    width: 100%;
    outline: none;
}

.signupf button {
    background-color: yellow;
    border: 2px solid yellow;
    color: black;
    display: block;
    padding: 10px;
    width: 100%;
    font-size: 16px;
    font-family: inherit;
    border-radius: 4px;
}
/* about page style */
.About{
    text-align: center;
    background-color: aqua;
    height: 100vh;
    justify-content: space-around;
}
.FST{
    display: flex;
    justify-content: space-around;
}
.Firstp{
    margin-top: 100px;
    background-color: cadetblue;
    width: 300px;
    height: 150px;
    padding: 40px;
}

.Secondp{
    margin-top: 100px;
    background-color: cadetblue;
    width: 300px;
    height: 150px;
    padding: 40px;
}

.Thirdp{
    margin-top: 100px;
    background-color: cadetblue;
    width: 300px;
    height: 150px;
    padding: 40px;
}